.show-today-button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    display: inline-block;
    margin-right: 5px;
}
.show-today-button:hover {
    background-color: #d9d9d9;
    cursor: pointer;
}
.navigation-container {
    margin: 8px;
    min-height: 3.1%;
}
.navigation-options {
    padding-left: 20%;
}
.navigation-options * {
    padding-left: 10px;
}
.year-month-wrapper {
    display: inline-block;
    padding-right: 10px;
    margin-right: 5px;
}
.year-month-wrapper:hover {
    cursor: pointer;
    padding: 5px 2px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #d9d9d9;
}
.chevron-left {
    display: inline-block;
    border-radius: 30px;
    padding: 5px 10px 5px 1px;
    width: 35px;
}
.chevron-left:hover {
    background-color: #d9d9d9;
    cursor: pointer;
}
