.prev-month-day, .next-month-day {
    color: #adad85;
}
.table-container th {
    width: 14.2%;
    min-height: 3.1%;
    border-bottom: none;
    padding: 0;
}
.table-container td {
    width: 14.2%;
    height: 90px;
}
.table-container td:first-child.curr-month-day {
    color: red;
}
.table-container thead tr:first-child {
    color: #a6a6a6;
    font-weight: 1px;
}
.table-container {
     font-size: 14px;
     height: 93.15%;
}
.remainder-name {
    background-color: green;
    color: #fff;
    border-radius: 5px;
    padding: 2px 5px;
    margin-bottom: 5px;
    max-width: 150px;
    width: 100%;
    text-overflow: hidden;
}
.table-container td {
    overflow: hidden;
}
.remainder-name:hover {
    cursor: pointer;
}
.current-day span {
    background-color: #0066cc;
    color: #fff;
    border-radius: 15px;
    padding: 5px;
}
