.prev-month-day, .next-month-day {
    color: #adad85;
    padding: 5px 5px !important;
}
.table-container th {
    width: 14.2%;
    min-height: 3.1%;
    border-bottom: none;
    padding: 0;
}
.table-container td {
    width: 14.2%;
    height: 90px;
}
.table-container td:first-child.curr-month-day {
    color: red;
}
.table-container thead tr:first-child {
    color: #a6a6a6;
    font-weight: 1px;
}
.table-container {
     font-size: 14px;
     height: 93.15%;
}
.remainder-name {
    background-color: green;
    color: #fff;
    border-radius: 3px;
    padding: 2px 5px;
    margin-bottom: 5px;
    max-width: 100%;
    width: 100%;
    text-overflow: hidden;
}
.table-container td {
    overflow: hidden;
}
.remainder-name:hover {
    cursor: pointer;
}
.current-day span {
    background-color: #0066cc;
    color: #fff;
    border-radius: 15px;
    margin-bottom: 5px !important;
    padding: 5px;
}
td.curr-month-day {
    padding: 5px 0px 0px !important;
}
td.curr-month-day span {
    margin-left: 5px;
    margin-bottom: 10px;
}
.total-reminders {
    text-align: right;
}
.total-reminders > span {
    background-color: #b35900;
    border-radius: 16px;
    color: #fff;
    padding: 5px 10px !important;
    margin-right: 10px;
    font-weight: 540;
    margin-top: 5px;
    display: inline-block;
    width: 30px;
    cursor: pointer;
}
