
.indicator-status {
    background-color: #000000d4;
    position: absolute;
    color: #fff;
    padding: 7px 20px;
    border-radius: 10px;
    font-weight: 500;
    top: 0;
    left: 38%;
    z-index: 5000;
}
