.nav-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
	font-family: Roboto,Helvetica,Arial,sans-serif;
}

/* Modal Content */
.nav-modal-content {
    box-shadow: 0px 0px 30px 0.5px rgba(0,0,0,0.76);
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 260px;
    -webkit-animation-name: animatetopnav;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetopnav;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetopnav {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetopnav {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.nav-modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.nav-modal-body {padding: 2px 0px 15px 14px;}

.nav-modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.month-span-main {
    margin-left: 20px;
    position: absolute;
    right: 36px;
    top: 6px;
}
.right-chevron {
    padding: 5px 10px;
    border-radius: 110px;
}
.left-chevron i, .right-chevron i {
    padding-left: 0;

}
.left-chevron {
    padding: 5px 10px 5px 0;
    border-radius: 110px;
    margin-left: 10px;
}
.left-chevron:hover, .right-chevron:hover {
    background-color: #d9d9d9;
    cursor: pointer;
}
.nav-modal-body > span {
    font-size: 12px;
    font-weight: 500;
}
